body {
  background: linear-gradient(
    90deg,
    rgba(255, 235, 187, 0.247) 0%,
    rgb(165, 212, 210) 100%
  );
  font-family: "Miranda Sans", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  text-align: center;
}
a {
  color: rgb(42, 120, 146);
}

.weather-app {
  width: 80%;

  max-width: 800px;
  padding: 20px;
  background-color: #bfd8d5;
  border: 2px solid #55c9ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid rgba(204, 200, 200, 0.87);
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: rgb(196, 232, 235);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 17px;
  padding: 15px 20px;
}

.search-form-button {
  background: rgb(48, 146, 179);
  padding: 15px 25px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  margin-left: 6px;
}

main {
  padding: 30px 0;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #222;
}

.weather-app-data {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 700px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: rgb(46, 103, 112);
}
.weather-app-details strong {
  color: rgb(13, 114, 114);
}

.weather-app-temp-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.weather-app-info {
  text-align: left;
}

.weather-app-temp {
  font-size: 78px;
  font-weight: bold;
  margin-left: 10px;
}

.weather-app-icon {
  width: 80px;
  height: 80px;
}

.weather-app-unit {
  font-size: 26px;
}

.weather-forecast {
  display: inline-flex;
  justify-content: center;
  gap: 20px;
  padding: 0 15px;
  list-style: none;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.weather-forecast-date {
  text-align: center;
  color: rgb(46, 103, 112);
  font-size: 16px;
  line-height: 20px;
}

.weather-forecast-icon {
  font-size: 36px;
  text-align: center;
}

.weather-forecast-temps {
  text-align: center;
  color: #3092b3;
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
}

.weather-forecast-temp {
  text-align: center;
  color: #25718a;
  display: inline-flex;
  justify-content: center;
  padding: 0 8px;
}
footer {
  border-top: 1px solid rgba(204, 200, 200, 0.87);
  padding: 30px 0 0 0;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
